.flex-container{
    border-color: black;
    border-width:5px;
    border-style:solid;
    display:flex;
    /* width: 500px; */
    min-height: 700px;
    /* height: auto; */
    padding: 0;
    justify-content:space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    align-content: space-evenly;
}
.f1 ,.f2 ,.f3{
    border: 2px solid yellow;
    width: 200px;
}
.f1{
background-color: aqua;
min-height: 100px;
/* flex-shrink: 0; */
}
.f2{
background-color: teal;
min-height: 200px;
/* flex-grow: 1; */
/* flex-basis: 0; */
align-self: flex-start;
}
.f3{
background-color: coral;
min-height: 300px;
/* flex-grow: 2; */
/* flex-basis: 0; */
}